In [ ]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np

In [ ]:
# Reading data into a DataFrame
file1 = pd.read_csv('file1.csv')
display(file1.head())
display(file1.tail())
file1.shape

In [ ]:
file1

In [ ]:
file2 = pd.read_csv('file2.txt')  # what is happening?
file2.shape

In [ ]:
file2 = pd.read_csv('file2.txt', sep='\t') # | \ / , \t
file2.head()

In [ ]:
# Data blending
column_names = file1.columns
column_names

In [ ]:
data = pd.concat([file1, file2], axis=0) #discuss axis here
data.shape
data

In [ ]:
# weird_data = pd.concat([file1, file2], axis=1) #axis wrong
# weird_data

In [ ]:
data.columns[16].lower()

In [ ]:
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())
data.columns = cols

# alternative for using range(len(list)) in the for loop:
cols = []
for column in data.columns:
    cols.append(column.lower())
data.columns = cols

# renaming columns
data = data.rename(columns={'controln':'id',
                            'hv1':'median_home_val', 
                            'ic1':'median_household_income'})
data.head()
# #data.shape

In [ ]:
#Activity 1

In [ ]:

#End of Activity 1

In [ ]:
data.head()

In [ ]:
#slicing
data.loc[[0,1,2],['id','state']]

In [ ]:
#slicing
data.loc[[0,1,2],:]

In [ ]:
#slicing
data.loc[:,['id','state']]

In [ ]:
#slicing shortcut
data[['id','state']]

In [ ]:
#also useful to reorder columns
data[['state','id']]

In [ ]:
data.head()

In [ ]:
#another shortcut
data['gender']

In [ ]:
#watch out for mutability
just_gender = data['gender']
just_gender[1012]
#just_gender

In [ ]:
just_gender[1012] = 'F'
just_gender

In [ ]:
#whoah!
data

In [ ]:
just_gender_copied = data['gender'].copy()
just_gender_copied[1014]

In [ ]:
just_gender_copied[1014] = 'F'
just_gender_copied

In [ ]:
#Now we have what we want:
data

In [ ]:
#operations between columns
#% income donated
data['target_d']/data['median_household_income']

In [ ]:
#new columns
data['percent_income_donated'] = data['target_d']/data['median_household_income']
data.head()

In [ ]:
#boolean masks
data['very_generous'] = data['percent_income_donated']>0.25
data.head()

In [ ]:
#filtering!
data[data['very_generous']==True]

In [ ]:
#filtering!
data[data['target_d']==100]

In [ ]:
#combining filters
#filtering!
data[(data['target_d']==100) & (data['very_generous']) ]

In [ ]:
data[(data['state'].isin(['FL','Florida']))  & (data['avggift']<50)]

In [ ]:
# deleting columns: how to
data = data.drop(['tcode','percent_income_donated','very_generous'], axis=1)
data.head()

In [ ]:
data1 = data.copy()

In [ ]:
data1 = data1.drop([0,1], axis=0)
data1.head()

In [ ]:
#data1.loc[[0,1],:]

In [ ]:
# # deleting columns: how to
# data = data.drop(['tcode'], axis =1) # Explain the argument axis, when axis is 0 and 1

# # Rearranging columns: how to
data = data[['id', 'state', 'gender', 'median_home_val', 'median_household_income', 'ic2', 'ic3', 'ic4', 'ic5', 'avggift', 'domain', 'dob', 'target_d']]

In [ ]:
data.head()

In [ ]:
#Activity 2
#1

In [ ]:
# 2

In [ ]:
# 3

In [ ]:
# 4

In [ ]:
# 5

# End of Activity 2

In [ ]:
#filter and reset the index
# important to play with the code and check the output
filtered = data[data['gender']=='M']  # Lets say that we are working on this filtered data
filtered

In [ ]:
data.loc[1]

In [ ]:
# issue on the index
#filtered.loc[1]
filtered.loc[3]

In [ ]:
filtered = filtered.reset_index(drop=True)
filtered= filtered.drop(['index'], axis=1)
filtered

In [ ]:
temp = filtered.copy()
temp = temp.set_index('state') # This is a dummy case, but indexes should be unique and not nulls, usually auto-increments by 1
temp.head()

In [ ]:
filtered[filtered['state']=='FL']

In [ ]:
# Working with indexes
filtered[1:4]
filtered[['gender', 'ic2', 'ic3']][0:10]
filtered.loc[0:10,['gender', 'ic2', 'ic3']]
filtered.loc[1:4]
# filtered.loc[100]
filtered.iloc[1:4]

In [ ]:
# now, working just on the indexes row,columns
filtered.iloc[0:10,0:4]
filtered.iloc[[1,2,3,4],[0,2,4]]

In [ ]:
#Activity 3
# 1 Filter the results where the gender is F 
#   and store the results in another DataFrame filtered2

In [ ]:
# 2 Check the first 10 rows of the DataFrame using the head() function.

In [ ]:
# 3 Reset the index of filtered2 with and without using the parameter drop=True 
#   and check the difference in the results.

In [ ]:
# 4 Show the rows from index number 100 to 200.

In [ ]:
# 5 Use iloc to get the first 100 rows and columns with indexes 2,3,4,5.


#End of Activity 3

In [ ]:
# data types
data.dtypes
# data._get_numeric_data()
# data._get_bool_data()
# data.select_dtypes(['int64','float64'])

In [ ]:
# correcting data types
data['median_home_val'] =  pd.to_numeric(data['median_home_val'], errors='coerce')
data['ic5'] =  pd.to_numeric(data['ic5'], errors='coerce')
data.head(20)

#data._get_numeric_data() # to check if 'median_home_val' and 'ic5' are now listed as numeric data

In [ ]:
# Removing duplicates
print(data.shape)
data2 = data.copy()
data2 = data2.drop_duplicates()  # nb keep argument
# #if we want to remove duplicates based on some specific columns
# data2 = data2.drop_duplicates(subset=['state','gender', 'ic2', 'ic3'])
data2 = data2.drop_duplicates(subset=['state','gender', 'ic2', 'ic3'],keep='last')
# #data2
print(data2.shape)

In [ ]:
# Activity 4

# 1 Check the data types of all the columns in the DataFrame.

In [ ]:
# 2 Use select_dtypes() to select all the numerical columns in the DataFrame (both integers and floats).

In [ ]:
# 3 Convert the columns that have numerical values (which are now object types) to the numeric type.

In [ ]:
# 4 Remove duplicates from the DataFrame if any.